<template>
    <div class="index">
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="py-1 px-2">Produto</th>
                    <th class="py-1 px-2">Preço</th>

                    <th class="py-1 px-8 relative" v-for="person in persons" v-bind:key="person.name">
                        {{person.name}}

                        <button class="absolute bg-red-300 w-3 h-3 rounded-full text-white stroke-current product-remove" @click.prevent="removePerson(person)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="8" height="8" viewBox="0 0 24 24" stroke-width="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </button>
                    </th>

                    <th>
                        <form @submit.prevent="addPerson" class="flex relative">
                            <input type="text" placeholder="Nome" v-model="personInput" />

                            <button type="submit" class="absolute top-0 right-0 bg-green-300 px-2">+</button>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, i) in products" v-bind:key="product.id">
                    <td class="border px-3 py-1 relative" v-bind:class="i % 2 == 0 ? 'bg-gray-100' : ''">
                        {{ product.name }}

                        <button class="absolute bg-red-300 w-3 h-3 rounded-full text-white stroke-current product-remove" @click.prevent="removeProduct(product)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="8" height="8" viewBox="0 0 24 24" stroke-width="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </button>
                    </td>
                    <td class="border px-2 py-1 text-right" v-bind:class="i % 2 == 0 ? 'bg-gray-100' : ''">€ {{ product.price.toFixed(2) }}</td>
                   
                    <td v-for="person in persons" v-bind:key="person.name" class="border" v-bind:class="i % 2 == 0 ? 'bg-gray-100' : ''">
                        <input class="input-number bg-transparent px-2 py-1 w-full text-right" type="number" size="4" v-bind:value="getPersonQuantity(person, product)" @change="setPersonQuantity(person, product, $event)">
                    </td>
                </tr>

                <tr>
                    <td class="font-bold text-right pr-2">Total:</td>
                    <td class="border px-2 py-1 text-right">€ {{ getTotalPrice.toFixed(2) }}</td>
                    <td v-for="person in persons" v-bind:key="person.name" class="border px-2 py-1 text-right">€ {{ getPersonTotalDue(person).toFixed(2) }}</td>
                </tr>

                <tr>
                    <td class="border px-3"><input type="text" ref="productInputName" placeholder="Nome" v-model="productInput.name" /></td>
                    <td class="border">
                        <form @submit.prevent="addProduct" class="flex relative">
                            <input class="input-number pl-2 pr-24 w-full" type="number" step="0.01" size="4" v-model.number="productInput.price">
                            <button type="submit" class="absolute top-0 right-0 bg-green-300 px-2">+</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<style>
    .input-number {
        appearance:textfield;
    }

    .product-remove {
        top: 3px;
        right: 3px;
    }
</style>

<script>
    export default {
        name: 'Split',
        data() {
            return {
                personInput: '',
                productInput: {
                    name: '',
                    price: 0.00
                },
                products: [],
                persons: []
            }
        },
        computed: {
            getTotalPrice() {
                return this.products.map(p => p.price).reduce((a, b) => a + b, 0)
            }
        },
        mounted() {
            const urlParams = new URLSearchParams(window.location.search);
            const encoded = urlParams.get('data');

            if(encoded == null) {
                return;
            }

            const json = atob(encoded)
            const data = JSON.parse(json)

            this.persons = data.persons;
            this.products = data.products;
        },
        watch: {
            products() {
                this.serializeData()
            },
            persons() {
                this.serializeData()
            }
        },
        methods: {
            serializeData() {
                const urlParams = new URLSearchParams(window.location.search);
                const data = {
                    products: this.products,
                    persons: this.persons
                };

                urlParams.set('data', window.btoa(JSON.stringify(data)));
                history.replaceState(null, null, "?" + urlParams.toString());
            },
            getPersonTotalDue(person) {
                var amount = 0;

                for (var i = 0; i < this.products.length; i++) {
                    var product = this.products[i];
                    amount += this.getPersonDue(person, product)
                }

                return amount;
            },
            getPersonDue(person, product) {
                if (product.id in person.products) {
                    var amount = person.products[product.id];

                    var totalAmount = 0;
                    for (var i = 0; i < this.persons.length; i++) {
                        totalAmount += this.getPersonQuantity(this.persons[i], product)
                    }

                    return amount / totalAmount * (product.price)
                }

                return 0;
            },
            getPersonQuantity(person, product) {
                if (product.id in person.products) {
                    var output = person.products[product.id];
                    return output;
                }

                return 0;
            },
            setPersonQuantity(person, product, event) {
                var number = parseInt(event.target.value)
                this.$set(person.products, product.id, isNaN(number) ? 0 : number)
            },
            removeProduct(product) {
                this.products.splice(this.products.indexOf(product), 1)
            },
            addProduct() {
                var name = this.productInput.name;
                if(name.length == 0) {
                    return;
                }

                var price = this.productInput.price
                if(price <= 0) {
                    return;
                }

                this.productInput.name = '';
                this.productInput.price = 0;

                this.$refs.productInputName.focus()

                this.products.push({
                    id: new Date().getUTCMilliseconds().toString(),
                    name,
                    price
                });
            },
            removePerson(person) {
                this.persons.splice(this.persons.indexOf(person), 1)
            },
            addPerson() {
                var name = this.personInput;
                if(name.length == 0) {
                    return;
                }

                this.personInput = '';
                this.persons.push({
                    name,
                    products: {}
                });
            }
        }
    }
</script>
